DATABASE_URL=file:/data/souldawn.db
NEXTAUTH_URL=https://souldawn.com
NEXTAUTH_SECRET=your-nextauth-secret-here
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_TELEGRAM_BOT_ID=
ADMIN_PASSWORD=your-admin-password-here
RESEND_API_KEY=
ADMIN_TELEGRAM_NOTIFY_URL=
NEXT_PUBLIC_YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
